/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&family=Shrikhand&display=swap");

/* page */

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: "Roboto";
}
