/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&family=Shrikhand&display=swap");

/* page */

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: "Roboto";
}

/* loader */

.loaderbg {
  background-color: $secondarypurple;
  position: fixed;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  opacity: 0.7;
  @include centered;
  animation: removebg 2s linear forwards;

  &__loader {
    width: 100px;
    height: 100px;
    border: 15px solid #fff;
    border-bottom-color: $primarypurple;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: loader 2s linear forwards;
  }
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    visibility: hidden;
  }
}

@keyframes removebg {
  0% {
  }
  100% {
    visibility: hidden;
  }
}
