/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&family=Shrikhand&display=swap");
/* page */
* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: "Roboto";
}

header {
  font-family: "Shrikhand";
  text-align: center;
  box-shadow: 0px 1px 10px grey;
  height: 80px;
  border: transparent 1px solid;
  position: relative;
}

.sub-header {
  text-align: center;
  background-color: #eaeaea;
  color: #271a1a;
  width: 100%;
  padding: 2px;
  font-size: 12px;
  font-weight: 100;
}
.sub-header h2 {
  font-weight: 400;
}

.sub-header-second {
  padding: 2px;
  background-color: #f6f6f6;
  text-align: center;
}
.sub-header-second h3 {
  margin-top: 30px;
  font-size: 25px;
}
.sub-header-second p {
  font-weight: 400;
}
.sub-header-second__btn {
  font-size: 20px;
  padding: 25px;
  border-radius: 100px;
  border: none;
  margin: 50px;
  color: white;
  transition: transform 1000ms ease;
  box-shadow: 0px 9px 15px -11px rgba(0, 0, 0, 0.7);
}
.sub-header-second__btn--gradient {
  background-image: linear-gradient(#ff79da, #9356dc);
}
.sub-header-second__btn:hover {
  transform: scale(1.1);
  background: linear-gradient(#ff93e1, #a16be0);
  box-shadow: 0px 12px 17px 1px rgba(0, 0, 0, 0.34);
}

.secondary-section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 450px;
  flex-direction: column;
  width: 100%;
}
@media (min-width: 983px) {
  .secondary-section {
    height: 250px;
  }
}
.secondary-section__list {
  counter-set: numbers;
  width: 100%;
}
.secondary-section__list ol {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}
@media (min-width: 679px) and (max-width: 983px) {
  .secondary-section__list ol {
    flex-direction: column;
  }
  .secondary-section__list li {
    width: 60%;
  }
}
@media (max-width: 678px) {
  .secondary-section__list li {
    width: 100%;
  }
}
.secondary-section__list ol li {
  position: relative;
  background-color: #f6f6f6;
  padding: 30px;
  margin: 20px;
  border-radius: 20px;
  list-style-type: none;
  box-shadow: 0px 9px 15px -11px rgba(0, 0, 0, 0.7);
}
.secondary-section__list ol li::before {
  content: counter(numbers);
  counter-increment: numbers;
  background-color: #9356dc;
  border-radius: 100px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  position: absolute;
  right: 96%;
  bottom: 30%;
}
.secondary-section__list i {
  padding-right: 30px;
  color: #7e7e7e;
}

.main-container {
  height: auto;
}
@media (min-width: 983px) {
  .main-container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 100px;
  }
}
@media (max-width: 678px) {
  .main-container {
    background-color: #f6f6f6;
  }
}
.main-container__box {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
}
@media (min-width: 983px) {
  .main-container__box {
    display: flex;
    width: 50%;
    flex-wrap: wrap;
    flex-direction: row;
  }
}
.main-container__box__new {
  padding: 10px;
  height: 35px;
  width: 85px;
  position: absolute;
  top: 10%;
  right: 17%;
  background-color: #99e2d0;
  font-size: 15px;
  font-weight: bold;
}
.main-container img {
  width: 100%;
  height: 200px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  object-fit: cover;
}
.main-container figure {
  width: 100%;
  background-color: white;
  border-radius: 30px;
  color: black;
  box-shadow: 0px 9px 15px -11px rgba(0, 0, 0, 0.7);
}
.main-container figure:hover {
  box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.39);
}
.main-container figure a {
  list-style-type: none;
  text-decoration: none;
  color: black;
}
.main-container figcaption {
  height: 40px;
  text-align: left;
  font-weight: bold;
  margin: 15px;
}
@media (min-width: 983px) {
  .main-container figcaption {
    padding-left: 50px;
    font-size: 30px;
    display: flex;
    align-items: center;
  }
}
.main-container span {
  font-weight: 300;
}
@media (min-width: 983px) {
  .main-container span {
    padding-left: 90px;
  }
}

.heartone {
  font-size: 25px;
  position: absolute;
  left: 76%;
  top: 78%;
}

.hearttwo {
  font-size: 25px;
  position: absolute;
  left: 76%;
  top: 78%;
  opacity: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#9356dc), to(#ff79da));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hearttwo:hover {
  animation: bounce 1000ms forwards;
}

@media (max-width: 678px) {
  .Ftitle {
    background-color: #f6f6f6;
    height: 100px;
    margin: 0;
    width: 100%;
    margin-top: 30px;
    padding-top: 30px;
  }
  h3 {
    padding-top: 50px;
  }
}
@keyframes bounce {
  0% {
    opacity: 0;
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}
.Ftitle {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 12px;
  width: 100%;
  background-color: #353535;
  align-items: flex-start;
}
footer .foot {
  display: flex;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 983px) {
  footer .foot {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
footer .foot ul {
  list-style: none;
  padding: 10px;
}
footer .foot ul li {
  padding: 10px;
  font-size: 15px;
  display: flex;
}
footer .foot ul a {
  text-decoration: none;
  list-style: none;
  color: white;
}
footer .foot h6 {
  font-size: 18px;
  font-family: Shrikhand;
  color: white;
  font-weight: 100;
  padding-left: 30px;
  margin: 10px;
}

@media (min-width: 983px) {
  .foot ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .foot ul a {
    padding: 30px;
    font-size: 20px;
  }
}
header {
  z-index: 1;
  position: relative;
}

.fa-arrow-left-long {
  font-size: 20px;
  position: absolute;
  top: 40%;
  left: 10%;
}

.menucontainer {
  width: 100%;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menucontainer img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  position: absolute;
  top: 80px;
}
.menucontainer__box {
  margin-top: 200px;
  border-top-left-radius: 30px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  background-color: #f6f6f6;
  width: 100%;
  height: 600px;
  position: relative;
  z-index: 3;
}
.menucontainer__box__part {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #f6f6f6;
  padding: 20px;
  width: 100%;
  height: auto;
}
@media (min-width: 993px) {
  .menucontainer__box__part {
    border-top: dotted #99e2d0 10px;
  }
}
.menucontainer__box__part__whitebox {
  position: relative;
  height: 80px;
  width: 100%;
  background-color: white;
  border-radius: 18px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  margin: 10px;
  box-shadow: 0px 9px 15px -11px rgba(0, 0, 0, 0.7);
}
@media (min-width: 993px) {
  .menucontainer__box__part__whitebox {
    width: 45%;
  }
}
.menucontainer__box__part__whitebox h6 {
  font-size: 20px;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.menucontainer__box__part__whitebox p {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding-top: 10px;
  margin: 0;
  font-size: 20px;
}
.menucontainer__box__part__whitebox span {
  display: flex;
  justify-content: flex-end;
  font-size: 16px;
  font-weight: bold;
  transition: all 500ms;
}
.menucontainer__box__part__whitebox .textcontent {
  height: 50px;
  width: auto;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menucontainer__box__part__whitebox .textcontent:hover {
  width: 65%;
}
.menucontainer__box__part__whitebox .movingbox {
  content: "";
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0%;
  right: 0%;
  position: absolute;
  background-color: #99e2d0;
  height: 100%;
  width: 0px;
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
  transition: all 500ms ease-in-out;
}
.menucontainer__box__part__whitebox .fa-circle-check {
  color: white;
  opacity: 0;
  font-size: 30px;
  transition: all 500ms ease-in-out;
}
.menucontainer__box__part__whitebox:hover h6 {
  text-overflow: ellipsis;
}
.menucontainer__box__part__whitebox:hover .movingbox {
  width: 75px;
}
.menucontainer__box__part__whitebox:hover span {
  padding-right: 80px;
}
.menucontainer__box__part__whitebox:hover .fa-circle-check {
  transform: rotate(1turn);
  width: 35px;
  opacity: 1;
}
.menucontainer h5 {
  font-size: 18px;
  font-weight: 300;
  font-family: Roboto;
  margin: 0;
  border-bottom: 5px solid #99e2d0;
  width: 50px;
  padding: 5px;
  margin: 10px;
  margin-right: 90%;
}
@media (min-width: 993px) {
  .menucontainer h5 {
    position: absolute;
    font-size: 50px;
  }
}
.menucontainer h4 {
  font-family: shrikhand;
  font-size: 28px;
  font-weight: 100;
  padding-left: 15px;
}
@media (min-width: 993px) {
  .menucontainer h4 {
    padding-left: 30%;
    font-size: 45px;
  }
}
.menucontainer .specialheart {
  top: 7%;
  left: 85%;
  font-size: 35px;
}
@media (min-width: 993px) {
  .menucontainer .specialheart {
    left: 65%;
    top: 13%;
  }
}

@keyframes scale-in-center {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.part1,
.part4,
.part7 {
  animation: scale-in-center 1s both;
}

.part2,
.part5,
.part8 {
  animation: scale-in-center 1.3s both;
}

.part3,
.part6,
.part9 {
  animation: scale-in-center 1.5s both;
}

.part11 {
  animation: scale-in-center 1.7s both;
}

.selectme {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  background-color: #f6f6f6;
  width: 100%;
}

/*# sourceMappingURL=style.css.map */
